<div class="main-content">
  <header>
    <a href="#"
      ><img [src]="isMobile ? '/img/Symbol.svg' : '/img/Logo.svg'" alt="logo"
    /></a>
    <button class="button--primary" [routerLink]="['log_in']">Log In</button>
  </header>
  <div class="content-activate">
  <h1>Your account has been activated</h1>
  <h2>You will be redirected in a few seconds</h2>
  <p>
    If you are not redirected, please click the following link
  </p>
  <a href="/log_in">Videoflix Log In</a>
</div>
  <footer>
    <a href="/law/">Legal Notice</a>
    <a href="/law/">Privacy Policy</a>
  </footer>
</div>
