<div class="main-content">
  <header>
    <a href="#"
      ><img [src]="isMobile ? '/img/Symbol.svg' : '/img/Logo.svg'" alt="logo"
    /></a>
    <button class="button--primary" [routerLink]="['log_in']">Log In</button>
  </header>
  <div class="content-activate">
  <h1>Dein Account wurde aktiviert</h1>
  <h2>Du wirst in wenigen Sekunden weitergeleitet</h2>
  <p>
    Solltest du nicht weitergeleitet werden, dann klicke auf den folgenden Link
  </p>
  <a href="/log_in">Videoflix Log In</a>
</div>
  <footer>
    <a href="/law/">Impressum</a>
    <a href="/law/">Datenschutz</a>
  </footer>
</div>
