<h1>Movies, TV shows, and more</h1>
<p>Enter your email to create or restart your subscription.</p>
<div class="flex">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="flex">
      <input
        class="input--default"
        formControlName="email"
        type="email"
        placeholder="Email Address"
      />
      <button class="button--primary" type="submit">
        Sign Up
        <img src="img/chevron_right.svg" alt="chevron_right" />
      </button>
    </div>
    <label for="email" class="error-label" aria-label="error email">{{
      emailError
    }}</label>
  </form>
</div>