<h1>Movies, TV shows, and more</h1>
<p>Enter your email to create or restart your subscription.</p>
<div class="flex">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="flex">
      <input
        formControlName="email"
        type="email"
        placeholder="Email Address"
        [class.invalid]="email.touched && email.invalid"
        aria-describedby="email-error"
      />

      <button class="button--primary" type="submit">
        Sign Up
        <img src="img/chevron_right.svg" alt="chevron_right" />
      </button>
    </div>

    <div
      id="email-error"
      class="error"
      *ngIf="email.touched && email.errors as errors"
    >
      <p *ngIf="errors['required']; else checkEmail">
        Bitte gib eine E-Mail-Adresse ein.
      </p>

      <ng-template #checkEmail>
        <p *ngIf="errors['email']; else checkPattern">
          Bitte gib eine gültige E-Mail-Adresse ein.
        </p>
      </ng-template>

      <ng-template #checkPattern>
        <p *ngIf="errors['pattern']">
          Das Format der E-Mail-Adresse ist ungültig.
        </p>
      </ng-template>
    </div>
  </form>
</div>
