<div class="content">
  <h1>Sign Up</h1>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input--primary">
      <img src="/img/mail.svg" alt="mail" />
      <input
        id="email"
        name="email"
        class="input-field"
        formControlName="email"
        type="email"
        placeholder="Email Address"
      />
    </div>
    <label for="email" class="error-label" aria-label="error email">{{
      emailError
    }}</label>

    <div class="input--primary">
      <img src="/img/password.svg" alt="password" />
      <input
        id="password"
        name="password"
        class="input-field"
        [type]="showPw ? 'text' : 'password'"
        formControlName="password"
        placeholder="Password"
      />
      <img
        class="toggle-pw"
        (click)="togglePw('showPw')"
        [src]="showPw ? '/img/visibility_off.svg' : '/img/visibility.svg'"
        alt="show_password"
      />
    </div>
    <label for="password" class="error-label" aria-label="error password">{{
      pwError
    }}</label>

    <div class="input--primary">
      <img src="/img/password.svg" alt="password" />
      <input
        id="confirmPassword"
        name="confirmPassword"
        class="input-field"
        [type]="showCpw ? 'text' : 'password'"
        formControlName="confirmpassword"
        placeholder="Confirm Password"
      />
      <img
        class="toggle-pw"
        (click)="togglePw('showCpw')"
        [src]="showCpw ? '/img/visibility_off.svg' : '/img/visibility.svg'"
        alt="show_password"
      />
    </div>
    <label
      for="confirmPassword"
      class="error-label"
      aria-label="Error confirm password"
      >{{ cpwError }}</label
    >

    <button [ngClass]="signinForm.invalid ? 'button--disabled' : 'button--primary'" type="submit">Get Started</button>
  </form>
</div>

<div *ngIf="signInErrorMsg != ''" class="error">
  {{signInErrorMsg}}
</div>
