<div class="content">
  <h1>
    Forgot your <br />
    password?
  </h1>
  <p>We will send you an email with instructions to reset your password.</p>
  <form [formGroup]="forgotPwForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input--primary">
    <img src="/img/mail.svg" alt="mail">
    <input
      class="input-field"
      formControlName="email"
      type="email"
      placeholder="Email Address"
    />
    </div>
    <label for="email" class="error-label" aria-label="error email">{{
      emailError
    }}</label>
    <button class="button--disabled" type="submit">Send Email</button>
    </form>
</div>
