<div class="content">
  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input--primary">
    <img src="/img/mail.svg" alt="mail">
    <input
      class="input-field"
      formControlName="email"
      type="email"
      placeholder="Email address"
    />
    </div>
  <label for="email" class="error-label" aria-label="error email">{{
      emailError
    }}</label>
    <div class="input--primary">
    <img src="/img/password.svg" alt="password">
    <input
      class="input-field"
      [type]="showPw ? 'text' : 'password'"
      formControlName="password"
      placeholder="Password"
    />
    <img class="toggle-pw" (click)="togglePw()" [src]="showPw ? '/img/visibility_off.svg' : '/img/visibility.svg'" alt="show_password">
    </div>
     <label for="password" class="error-label" aria-label="error password">{{
      pwError
    }}</label>

    <button class="button--primary" type="submit">Log in</button>
  </form>
  <a href="/forgot_password">Forgot password?</a>
  <div class="text">
    <span>New to Videoflix?</span>
    <a href="/sign_up">Sign Up now</a>
  </div>
</div>
