<div class="content">
  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <input
      class="input--primary"
      formControlName="email"
      type="email"
      placeholder="Email Address"
    />

    <input
      class="input--primary"
      type="password"
      formControlName="password"
      placeholder="Password"
    />

    <button class="button--primary" type="submit">Log in</button>
  </form>
</div>

<div id="email-error" class="error" *ngIf="submitted && email.errors as errors">
  <p *ngIf="errors['required']; else checkPattern">
    Please enter your email address
  </p>

  <ng-template #checkPattern>
    <p *ngIf="errors['pattern']">
      Please get shure you have the right patterns. E.g.
      your-mail&#64;example.com
    </p>
  </ng-template>
</div>
<div
  id="password-error"
  class="error"
  *ngIf="submitted && !email.errors && password.errors as errors"
>
  <p *ngIf="errors['required']; else checkPassword">
    Please enter your Password
  </p>

  <ng-template #checkPassword>
    <p *ngIf="errors['minlength']">
      OOPS! Your password is to short. Min lenght: 6
    </p>
  </ng-template>
</div>
