<div class="plattform">
  <header>
    <a href="#"><img src="/img/Symbol.svg" alt="logo" /></a>
    <button class="button--primary">
      <img src="/img/logout.svg" alt="" /> Log out
    </button>
  </header>
  <main>
    <h2>New on Videoflix</h2>
    <article>
      <div *ngFor="let content of latestContent">
        <img [src]="content.thumbnail" alt="" />
      </div>
    </article>

    <h2 *ngFor="let category of groupedByCategory | keyvalue">
      {{ category.key }}
      <div *ngFor="let item of category.value">
        <img [src]="item.thumbnail" alt="" />
      </div>
    </h2>
  </main>
  <footer>
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </footer>
</div>
