<div class="plattform">
  <header>
    <a href="#"><img src="/img/Symbol.svg" alt="logo" /></a>
    <button class="button--primary" [routerLink]="['/log_in']">
      <img src="/img/logout.svg" alt="" /> Log out
    </button>
  </header>
  <section class="preview">
    <h1>{{ chosenContent?.title }}</h1>
    <span>{{ chosenContent?.description }}</span>
    <button class="button--primary" (click)="openPlayer(chosenContent?.id)">
      Play
    </button>
    <!-- <img src="{{chosenContent?.thumbnail}}" alt="Background"> -->
    <video #videoPlayer src="{{ chosenContent?.preview }}" autoplay loop  (loadedmetadata)="setVolume()"></video>
  </section>
  <main>
    <h2>New on Videoflix</h2>
    <swiper-container
      slides-per-view="5"
      space-between="10"
      loop="true"
      free-mode="true"
      grab-cursor="true"
    >
      <swiper-slide *ngFor="let content of latestContent">
        <img
          (click)="choseContent(content.uuid)"
          [src]="content.thumbnail"
          alt=""
        />
      </swiper-slide>
    </swiper-container>

    <article *ngFor="let category of groupedByCategory | keyvalue">
      <h2>{{ category.key }}</h2>
      <swiper-container
        slides-per-view="5"
        space-between="10"
        loop="true"
        free-mode="true"
        grab-cursor="true"
      >
        <swiper-slide *ngFor="let item of category.value">
          <img
            (click)="choseContent(item.uuid)"
            [src]="item.thumbnail"
            alt=""
          />
        </swiper-slide>
      </swiper-container>
    </article>
  </main>
  <footer>
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </footer>
</div>
