@import "swiper/swiper-bundle.css";

.plattform {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.preview {
  margin: 2rem 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 45vh;
  h1,
  span,
  button {
    position: relative;
    z-index: 999;
  }
  span {
    max-width: 50%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: fill;
    opacity: 0.5;
    z-index: -1;
  }
}
main {
  flex: 1 1 auto;
  margin: 0 2rem;
  max-height: calc(100vh - 77px - 96px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  align-self: center;
}
footer {
  justify-content: end !important;
}

swiper-slide {
  aspect-ratio: 16/9;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

swiper-container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background: linear-gradient(
      to left,
      black,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.4),
      transparent
    );

    z-index: 9999;
    pointer-events: none;
  }
}
