<div class="content">
  <h1>Reset password</h1>
  <p>Create a new password for your <span class="blue">Videoflix</span> account.</p>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input--primary">
      <img src="/img/password.svg" alt="password" />
      <input
        id="password"
        name="password"
        class="input-field"
        [type]="showPw ? 'text' : 'password'"
        formControlName="password"
        placeholder="Enter a password"
      />
      <img
        class="toggle-pw"
        (click)="togglePw('showPw')"
        [src]="showPw ? '/img/visibility_off.svg' : '/img/visibility.svg'"
        alt="show_password"
      />
    </div>
    <label for="password" class="error-label" aria-label="error password">{{
      pwError
    }}</label>

    <div class="input--primary">
      <img src="/img/password.svg" alt="password" />
      <input
        id="confirmPassword"
        name="confirmPassword"
        class="input-field"
        [type]="showCpw ? 'text' : 'password'"
        formControlName="confirmpassword"
        placeholder="Confirm Password"
      />
      <img
        class="toggle-pw"
        (click)="togglePw('showCpw')"
        [src]="showCpw ? '/img/visibility_off.svg' : '/img/visibility.svg'"
        alt="show_password"
      />
    </div>
    <label
      for="confirmPassword"
      class="error-label"
      aria-label="Error confirm password"
      >{{ cpwError }}</label
    >

    <button class="button--disabled" type="submit">Reset my password</button>
  </form>
</div>


<div *ngIf="success != ''" class="success">
  {{success}}
</div>