header, footer{
    width: 100%;
    display: flex;
}

header{
    justify-content: space-between;
    padding: 10px 96px;
    box-sizing: border-box;
    z-index: 9;
}

footer{
    justify-content: center;
    padding-bottom: 4rem;
    gap: 2rem;
    z-index: 9;
   
}

