$max-mobile-width: 1025px;

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-size: 100%;
  &::before {
    content: "";
    background-image: linear-gradient(
      rgba(28, 26, 32, 1) 0%,
      rgba(28, 26, 32, 0.8) 50%,
      rgba(28, 26, 32, 1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &.landing-bg {
    background-image: url('/img/startsite.jpg');
  }

  &.login-bg, .forgor-bg {
    background-image: url('/img/popcorn.jpg');
  }

  &.signin-bg {
    background-image: url('/img/eat.jpg');
  }
  
  &.default-bg {
    background-color: #1c1a20;
  }
}
header,
footer {
  width: 100%;
  display: flex;
  max-width: var(--max-screen-witdth);
  .d-none{
    display: none;
  }
 
}

header {
  justify-content: space-between;
  padding: 0.625rem 6rem;
  box-sizing: border-box;
  z-index: 9;
 @media screen and (max-width: $max-mobile-width) {
    padding: 10px 10px;
  }
}

footer {
  justify-content: center;
  padding-bottom: 4rem;
  gap: 2rem;
  z-index: 9;
  max-width: var(--max-screen-witdth);
}


