.button {
  border-radius: 40px;
  padding: 12px 24px;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  &--primary {
    @extend .button;
    background-color: var(--primary);
    color: var(--secondary);
    &:hover {
      background-color: var(--secondary);
      color: var(--primary);
      img {
        filter: brightness(0) saturate(100%) invert(20%) sepia(65%)
          saturate(3394%) hue-rotate(230deg) brightness(95%) contrast(99%);
      }
    }
  }
  &--secondary {
    @extend .button;
    background-color: var(--secondary);
    color: var(--primary);
  }
  &--disabled {
    @extend .button;
    background-color: var(--disabled);
    color: var(--secondary);
  }
}
