.input {
  padding: 12px 24px;
  box-sizing: border-box;
  font-weight: 400;
  background-color: var(--input-field);
  color: var(--secondary);
  border: 1px solid white;
  &--default {
    @extend .input;
    border-radius: 40px;
    
  }
  &--primary{
    @extend .input;
    border-color: var(--primary);
    border-radius: 12px;
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  &::placeholder {
    color: var(--secondary);
  }
}

.error-label{
  color: var(--error-red);
  font-size: 14px;
  min-height: 1.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}