:root{
    /* screen-widths */
    --max-screen-witdth: 1440px;
    --max-mobile-width: 1025px;
    /* colors */
    --primary:#2E3EDF;
    --secondary: #ffffff;
    --disabled: #5E5E5E;
    --input-field: #1C1A20CC;
}
