:root {
  /* screen-widths */
  --max-screen-witdth: 1920px;
  --max-mobile-width: 1025px;
  /* colors */
  --primary: #2e3edf;
  --secondary: #ffffff;
  --disabled: #5e5e5e;
  --input-field: #1c1a20cc;
  --bg-content: #1b1b22d9;
  --error-red: #ff002e;
  --font-input: #d3d3d3;
  --success-green : #008000;
}
